ion-card {
	margin: 6px 0;
	width: 100%;
}
.section-counter {
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.counter {
	align-items: center;
}
h4 {
	font-weight: bold;
	font-size: 18px;
}
ion-button {
	height: 20px;
}

ion-card-content {
	padding-bottom: 1rem;
}
// ion-item .item-inner {
// 	border: none;
// }
