<app-header></app-header>

<ion-content>
	<div class="main-border">
		<div *ngIf="pageData; else elseBlock">
			<h1>{{pageData.name}}</h1>
			<img
				*ngIf="pageData.image"
				src="{{pageData.image}}"
				alt="item image"
			/>

			<!-- Recipe -->
			<div *ngIf="pageData.level;">
				<ion-row>
					<ion-col size="6" class="d-flex j-center">
						Difficulté:
						<div *ngIf="pageData.level===1">
							<ion-icon name="star" color="primary"></ion-icon>
						</div>
						<div *ngIf="pageData.level===2">
							<ion-icon name="star" color="primary"></ion-icon>
							<ion-icon name="star" color="primary"></ion-icon>
						</div>
						<div *ngIf="pageData.level===3">
							<ion-icon name="star" color="primary"></ion-icon>
							<ion-icon name="star" color="primary"></ion-icon>
							<ion-icon name="star" color="primary"></ion-icon>
						</div>
					</ion-col>
					<ion-col size="6" class="d-flex j-center">
						<ion-icon name="hourglass" color="success"></ion-icon>
						{{pageData.time}}
					</ion-col>
				</ion-row>
			</div>
			<p *ngIf="pageData.description">{{pageData.description}}</p>
			<!-- Restaurant -->
			<div *ngIf="pageData.address;">
				<ion-item>
					<ion-icon name="storefront-outline" color="primary"></ion-icon>
					<p>{{pageData.address}}</p>
				</ion-item>
				<ion-item>
					<ion-icon name="time-outline" color="warning"></ion-icon>
					<p>{{pageData.opening}}</p>
				</ion-item>
				<address>
					<ion-item>
						<ion-icon name="call" color="success"></ion-icon>
						<a href="tel:{{pageData.phone}}">{{pageData.phone}}</a>
					</ion-item>
				</address>
				<div *ngIf="pageData.website;">
					<ion-item>
						<ion-icon name="globe-outline" color="tertiary"></ion-icon>
						<a href="{{pageData.website}}">{{pageData.website}}</a>
					</ion-item>
				</div>
			</div>
			<!-- Produits -->
			<div *ngIf="pageData.price;">
				<ion-item *ngIf="pageData.comments">
					<ion-icon name="chatbubbles-outline" color="primary"></ion-icon>
					<p>{{pageData.comments}}</p>
				</ion-item>
				<ion-item *ngIf="pageData.price">
					<ion-icon name="cash-outline" color="secondary"></ion-icon>
					<p>{{pageData.price}} € / {{pageData.unit}}</p>
				</ion-item>
				<ion-item *ngIf="pageData.owner">
					<ion-icon name="person-outline" color="warning"></ion-icon>
					<p>{{pageData.owner}}</p>
				</ion-item>
				<ion-item>
					<ion-icon
						*ngIf="pageData.availability; else elseTemplate"
						name="checkmark-circle-outline"
						color="success"
					></ion-icon>
					<ng-template #elseTemplate>
						<ion-icon
							name="close-circle-outline"
							color="danger"
						></ion-icon>
					</ng-template>
					<p>{{pageData.availability ?'Disponible':'Indisponible'}}</p>
				</ion-item>
			</div>
		</div>
		<!-- 404 -->
		<ng-template #elseBlock>
			<div>
				<p>Oups, veuillez revenir sur l'écran principal.</p>
				<img src="assets/images/404.svg" alt="detail" />
				<ion-button color="primary" href="/">Accueil</ion-button>
			</div>
		</ng-template>
	</div>
</ion-content>
