ion-card {
	border-radius: 1rem;
	padding: 10px;
	margin: 5px;
	height: 140px;
}
.heightSize {
	height: 60px;
}
h4 {
	margin: 5px 0px;
	color: black;
}
button {
	height: 50px;
	border-radius: 50%;
	box-shadow: 0 0 3px 0px #807c7c;
	img {
		width: 40px;
		padding: 5px;
	}
}
.d-flex {
	justify-content: space-between;
}
.ripple-parent {
	position: relative;
	overflow: hidden;
}
p {
	margin: 3px 0;
}
