<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>Le bateau de Thibthib</ion-title>
		<ion-button slot="end" fill="clear" color="warning">
			<ion-icon slot="icon-only" name="cart"> </ion-icon>
		</ion-button>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<app-menu></app-menu>

	<div id="container">
		<ion-grid>
			<ion-row>
				<ion-col>
					<div>
						<p>Vente en direct de notre bateau</p>
						<p>Produits selon la saison, Livraison sur Paris</p>
						<p>06.63.99.99.78</p>
						<p>www.facebook/lebateaudethibaut</p>
					</div>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col size="6">
					<app-home-card
						id="1"
						cardName="Produits"
						imgName="fish.png"
					></app-home-card>
				</ion-col>
				<ion-col size="6">
					<app-home-card
						id="2"
						cardName="Restaurants"
						imgName="restaurant.png"
					></app-home-card>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col size="6">
					<app-home-card
						cardName="Recettes"
						imgName="menu.png"
					></app-home-card>
				</ion-col>
				<ion-col size="6">
					<app-home-card
						cardName="Bateaux"
						imgName="boat.png"
					></app-home-card>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col size="12">
					<app-home-card
						cardName="Contact"
						imgName="contact.png"
					></app-home-card>
				</ion-col>
			</ion-row>
		</ion-grid>
	</div>
</ion-content>
