<app-header></app-header>
<ion-content>
	<div id="container">
		<ion-grid>
			<ion-row>
				<ion-col>
					<div>
						<p>Vente en direct de notre bateau</p>
						<p>Produits selon la saison, Livraison sur Paris</p>
						<a href="tel:06.63.99.99.78">06.63.99.99.78</a>
						<a href="www.facebook/lebateaudethibaut" target="_blank">
							www.facebook/lebateaudethibaut
						</a>
					</div>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col size="6">
					<app-basic-card
						link="/products-list"
						cardName="Produits"
						imgName="fish.png"
					></app-basic-card>
				</ion-col>
				<ion-col size="6">
					<app-basic-card
						link="/restaurants-list"
						cardName="Restaurants"
						imgName="restaurant.png"
					></app-basic-card>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col size="6">
					<app-basic-card
						link="/recipes-list"
						cardName="Recettes"
						imgName="recipe.png"
					></app-basic-card>
				</ion-col>
				<ion-col size="6">
					<app-basic-card
						link="/boats-list"
						cardName="Bateaux"
						imgName="boat.png"
					></app-basic-card>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col size="12">
					<app-basic-card
						link="/contact"
						cardName="Contact"
						imgName="contact.png"
					></app-basic-card>
				</ion-col>
			</ion-row>
		</ion-grid>
	</div>
</ion-content>
