<app-header></app-header>

<ion-content>
	<!-- Default Segment -->
	<ion-segment (ionChange)="segmentChanged($event)">
		<ion-segment-button value="all" checked>
			<ion-icon name="apps-outline"></ion-icon>
			<ion-label>Tous</ion-label>
		</ion-segment-button>
		<ion-segment-button
			*ngFor="let category of this.categoriesNames"
			[value]="category.id"
		>
			<ion-icon [name]="category.img"></ion-icon>
			<ion-label>{{category.name}}</ion-label>
		</ion-segment-button>
	</ion-segment>
	<ion-grid>
		<ion-row>
			<ion-col *ngFor="let product of this.productFilter" size="6">
				<app-product-card
					[product]="product"
					(click)="openDetailsWithState(product.id)"
				></app-product-card>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
