/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import '~@ionic/angular/css/core.css';

/* Basic CSS for apps built with Ionic */
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

.main-border {
	margin: 15px;
	padding: 20px;
	text-align: center;
	border-radius: 1.2rem;
	transform: translateZ(0px);
	transition: transform 500ms cubic-bezier(0.12, 0.72, 0.29, 1) 0s,
		-webkit-transform 500ms cubic-bezier(0.12, 0.72, 0.29, 1) 0s;
	box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 16px;

	h1 {
		font-family: 'Marck_Script';
	}
}

ion-title {
	font-family: 'Cinzel';
}

.ripple-parent {
	position: relative;
	overflow: hidden;
}

.d-flex {
	display: flex;
}

.j-center {
	justify-content: center;
}
